* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
}

.site-wrapper {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #fffde4;
  transition: all 0.4s;
}

main {
  width: 100%;
  min-height: 100vh;
  max-width: 968px;
  margin: 0 auto;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

div.menu {
  padding: 1rem;
  text-align: center;
  position: relative;
}

select {
  padding: 5px;
  margin-bottom: 0.5rem;
}

ul.main-container {
  max-width: 968px;
  padding: 0 1rem;
  margin: 0 auto;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

ul li {
  color: #fff;
  background-color: #227cc9;
  width: 200px;
  height: 200px;
  margin: 1rem;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
  transform: scale(0.98);
  transition: all 0.25s;
}

ul li:hover {
  transform: scale(1);
}

.big {
  font-size: 1.5rem;
  font-weight: bold;
}

.justifyLi {
  text-align: center;
  padding: 1rem;
}

.removeBtn {
  font-family: monospace sans-serif;
  position: absolute;
  border-radius: 50%;
  border: none;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  padding: 0.3rem;
  font-size: 1rem;
  top: 0.5rem;
  right: 0.5rem;
  cursor: pointer;
}

.addMovieLi {
  cursor: pointer;
}

.addMovieLi form {
  display: none;
}

.activeFormLi form > * {
  margin: 5px 0;
}

.activeFormLi input {
  padding: 5px 0;
}

.activeFormLi button {
  padding: 0.5rem 1.5rem;
  font-weight: bold;
  text-transform: uppercase;
  border: none;
  background-color: #fff;
  cursor: pointer;
}

.evenLi {
  background-color: #005aa7;
  color: #fff;
}

.quantity span {
  font-weight: bold;
}

.tagsList {
  padding: 1rem;
  text-align: justify;
}

.filterTag {
  cursor: pointer;
}

.filterTag:hover {
  text-decoration: underline;
}

.btn {
  cursor: pointer;
  border: none;
  border: 2px solid black;
  border-radius: 5px;
  background-color: #005aa7;
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
  padding: 5px;
  transition: all 0.3s;
}

.btn:hover {
  background-color: #237cc9;
  color: #fff;
}

.sortBtnsWrapper {
  margin-bottom: 0.5rem;
}

.nightModeBtn {
  position: absolute;
  top: 1rem;
  right: 2rem;
  border: none;
  border-radius: 5px;
  background-color: #000;
  color: #fffde4;
  cursor: pointer;
  transition: all 0.4s;
}

.activeNightModeBtn {
  background-color: #fffde4;
  color: #000;
}

.activeNightModeSite {
  background-color: #000;
  color: #fff;
}

@media (max-width: 512px) {
  .nightModeBtn {
    position: unset;
  }
}
